%p#notice= notice

%p
  %b Title:
  = @image_thread.title
%p
  %b Created at:
  = @image_thread.created_at

= link_to 'Edit', edit_image_thread_path(@image_thread)
\|
= link_to 'Back', image_threads_path
