= form_for(@board, html: {class: "board-form"}) do |f|
  - if @board.errors.any?
    .error-explanation
      %h3= "#{pluralize(@board.errors.count, "error")} prohibited this board from being saved:"
      %ul
        - @board.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, "Board Name"
    = f.text_field :title, placeholder: "Enter board name"

  .form-actions
    = f.submit "Create Board"