.board-list
  - @boards.each do |board|
    .board-item
      = link_to board, class: "board-link" do
        .board-info
          .board-title= board.title
          .board-meta= "created #{time_ago_in_words(board.created_at)} ago"
      .board-actions
        = link_to "✏️", edit_board_path(board), class: "board-action-icon", title: "Edit"
        = button_to "🗑️", board_path(board), method: :delete, class: "board-action-icon", title: "Delete", data: {confirm: "Delete this board?"}