%h1= @board.title
%p="created "+distance_of_time_in_words(Time.now,@board.created_at,true)
= button "Add new post", :icon => "ui-icon-plusthick", :id => "new_post_button"
#new_post_form{!@post.errors.any? && :style=>"display:none;"}
   %h2 new post
     %p= render 'post/form'
 %h1 posts
 - @boards.posts.each do |post|
   %h2= link_to post.title, post
   %p= post.discription
   %p= "created "+distance_of_time_in_words(Time.now,post.created_at,true) + " ago"

