%h1= @board.title
.board-meta-bar
  .meta= "Created #{time_ago_in_words(@board.created_at)} ago"
  = link_to "‹ All Boards", boards_path, class: "back-link"

#posts
  = render partial: "posts/post", collection: @posts

= will_paginate @posts

%button#new_post_button.secondary{type: "button"}
  = "＋ Add Post"

#new_post_form{style: "display:none;"}
  %h2 New Post
  = render partial: "posts/form", locals: { post: @board.posts.build }