= form_for([@board, @board.posts.build], html: {class: "post-form"}) do |f|
  .form-group
    = f.label :title
    = f.text_field :title, placeholder: "Enter post title"

  .form-group
    = f.label :description
    = f.text_area :description, placeholder: "Enter description", rows: 4

  .form-group
    = f.label :svg, "Draw your image"
    %canvas#drawbox{width: "600", height: "400", data: {drawbox: "true"}}
    %input#drawbox-data{type: "hidden", name: "drawbox-data"}

  .form-actions
    = f.submit "Create Post"