= form_for([@board, @board.posts.build], :html =>{:class => "ib-form"}) do |f|
  .field
    = f.label "Title"
    = f.text_field :title
    %br
    %canvas{:id=>"drawbox",:width=>"500",:height=>"300"}
    %br
    = f.label "Description"
    = f.text_area :description, :rows => "4", :cols => "6"
    %br
    %br
    = f.submit 'Create post'
